// Config -----------------------------------
@syntax-hue: 210;

// Monochrome -----------------------------------
@mono-1:	#778a9c;
@mono-2:	#7992b4;
@mono-3:	#a0aebf;

// Colors -----------------------------------
@cyan: #14d0bd;
@blue: #2b87ff;
@purple: #ae2ed7;
@green: #03d058;
@red: #f1372e;
@orange: #ff8a40;
@yellow: #fbb010;

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, 2%, 98%);
@syntax-gutter: @syntax-fg;
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: @blue;